.title {
    margin: 40px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}